#type_selectors{
    border:solid black 2px;
    width:960px;
    margin:auto;
    text-align:center;
}

li {
    display:inline;
    text-align:center;
    margin-right:20%;
}
#posts{
    padding:10px;
    overflow:scroll;
    width:960px;
    height:500px;
    margin:auto;
    text-align:center;
}

#post_controls{
    width:100%;
    border:solid black 2px;
}

#left_button, #right_button{
    cursor:pointer;
    font-size:3em;
    width:48%;
    height:10%;
    border:solid red 1px;
    text-align:center;
}

#right_button{
    float:right;
}
#left_button{
    float:left;
}
