body{
    font-family:"Helvetica Neue", "Helvetica", Sans;
    background:#2d4569;
}

#type_selectors{
    border:solid black 2px;
    border-radius:4px;
    padding:10px;
    width:700px;
    margin:auto;
    text-align:center;
}

#logo{
    font-weight:600;
}

li {
    display:inline;
    text-align:center;
    margin-right:10%;
    font-size:1.5em;
    background:white !important;
}

#type_selectors, #posts, #post_controls, a:visited, li, ul, h2, a{
    background:white !important;
}   

#posts{
    padding:10px;
    height:500px;
    overflow:scroll;
    width:700px;
    margin:auto;
    text-align:center;
    border-radius:4px;
}

#post_controls{
    border-radius:4px;
    padding:10px;
    width:700px;
    margin:auto;
    height:60px;
    margin-top:-10px;
}

#left_button, #right_button{
    cursor:pointer;
    font-size:3em;
    width:48%;
    height:8%;
    text-align:center;
}

#right_button{
    float:right;
}
#left_button{
    float:left;
    height:65px;
    border-right: solid gray 2px;
}

.reg{
    text-align:left !important;
}
